<div class="jumbotron jumbotron-fluid animated fadeIn fast">
  <div class="container">
    <h1 class="display-4">Plataforma de aprendizaje - Curso Sobre Automatizacion</h1> <br> <br>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet massa justo. Etiam placerat vel diam eu sodales. Nulla tristique sapien dui, eget venenatis ex facilisis vitae. Quisque massa dolor, euismod non lacus ut, pulvinar laoreet urna. Nullam purus lectus, sagittis vel mi et, rhoncus lacinia ipsum. Curabitur auctor, turpis a elementum scelerisque, ligula mi condimentum nisl, ut pellentesque nulla lacus at erat. Nunc at augue a felis rhoncus vulputate nec nec risus. Aenean porta ut purus vitae gravida. Aliquam iaculis a lorem quis porta. Donec accumsan tempus iaculis. Cras vel nisi eget lectus finibus faucibus. Duis placerat, arcu in faucibus scelerisque, quam lectus vehicula libero, vel vestibulum sapien metus quis ipsum.</p>
  </div> <br>
  <button class="btn primary ">
       <img src="assets/img/Curso.png" width="80" />
       <a class="navbar-brand nav-link " [routerLink]="['','cursos']" > Evaluacion </a>
  </button>
</div>
