<br>
<h1>Cursos  <small>Mecánica automotriz</small></h1>
<br>
<div class="card-columns">
  <div class="card">
    <img class="card-img-top img fluid" src="assets/img/Mechanic.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Introducción a la mecánica automotriz</h4>
      <p class="card-text">La mecánica automotriz es la rama de la mecánica que estudia y aplica los principios propios de la física y mecánica para la generación y transmisión del movimiento en sistemas automotrices, como son los vehículos de tracción mecánica</p>
      <button type="button" class="btn btn-online-primary btn-block">
        <a class="navbar-brand nav-link " [routerLink]="['','results']" > ver mas.. </a>
      </button>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img fluid" src="assets/img/Mechanic2.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Dirección Hidráulica</h4>
      <p class="card-text">El sistema de dirección hidráulica o asistida –como también se le conoce–, funciona a través de un bomba que presuriza un líquido que es enviado por tubos y mangueras a la caja de dirección</p>
      <button type="button" class="btn btn-online-primary btn-block">
        <a class="navbar-brand nav-link " [routerLink]="['','results']" > ver mas.. </a>
      </button>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img fluid" src="assets/img/Mechanic3.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Suspensión</h4>
      <p class="card-text">en el mundo del automóvil y de los vehículos en general, conjunto de elementos que absorben las irregularidades del terreno o de la calzada por donde se circula.</p>
      <button type="button" class="btn btn-online-primary btn-block">
        <a class="navbar-brand nav-link " [routerLink]="['','results']" > ver mas.. </a>
      </button>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img fluid" src="assets/img/Mechanic4.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Introducción a la mecánica automotriz</h4>
      <p class="card-text">La mecánica automotriz es la rama de la mecánica que estudia y aplica los principios propios de la física y mecánica para la generación y transmisión del movimiento en sistemas automotrices, como son los vehículos de tracción mecánica</p>
      <button type="button" class="btn btn-online-primary btn-block">
        <a class="navbar-brand nav-link " [routerLink]="['','results']" > ver mas.. </a>
      </button>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img fluid" src="assets/img/Mechanic5.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Frenos</h4>
      <p class="card-text">La mecánica automotriz es la rama de la mecánica que estudia y aplica los principios propios de la física y mecánica para la generación y transmisión del movimiento en sistemas automotrices, como son los vehículos de tracción mecánica</p>
      <button type="button" class="btn btn-online-primary btn-block">
        <a class="navbar-brand nav-link " [routerLink]="['','results']" > ver mas.. </a>
      </button>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img fluid" src="assets/img/Mechanic6.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Introducción a la mecánica automotriz II</h4>
      <p class="card-text">Un freno es un dispositivo utilizado para detener o disminuir la velocidad de algún trasporte , generalmente, un eje, Eje de transmisión o tambor.</p>
      <button type="button" class="btn btn-online-primary btn-block">
        <a class="navbar-brand nav-link " [routerLink]="['','results']" > ver mas.. </a>
      </button>
    </div>
  </div>

</div>
